{ 
  "extends": ["stylelint-config-standard", "stylelint-config-clean-order", "stylelint-config-prettier"],  
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ],
  "rules" : {
    "color-named": "never"
	}
}
